<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/OOPTick1Star/src/tick1star/AnimatedLife.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="tick1star.AnimatedLife"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="&quot;Glider:Richard Guy:50:50:23:23:11101 10000 00011 01101 10101&quot; 400 CRSID.gif"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="OOPTick1Star"/>
</launchConfiguration>
