<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/OOPTick2Star/src/tick2Star/SoundOfLife.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="tick2Star.SoundOfLife"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="&quot;Glider:Richard Guy:50:50:23:23:11101 10000 00011 01101 10101&quot; 0.05 400 CRSID.WAV"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="OOPTick2Star"/>
</launchConfiguration>
